

.arrow-next {
  width: 8px;
  height: 10px;
}

.arrow-prev {
  transform: rotate(-180deg);
  width: 8px;
  height: 10px;
}

.arrow-prev g {
  transition: transform .3s;
  transform-origin: center center;
}


