

.hamb-menu__ref {
	vertical-align: middle;
	position: relative;
	height: 22px;
	align-items: center;
	display: none;

	@include desctop {
		display: inline-flex;
	}
}

.hamburger {
	&, &:before, &:after {
		background: #fff;
		width: 28px;
		height: 5px;
		border-radius: 2px;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}