.menu__items {
  display: flex;
}

.menu__item {
  margin-right: 30px;
  color: currentColor;
  

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  color: currentColor;
  line-height: 1.88;
  &--footer {
    
  }
}
