.my-works {
  min-height: 650px;
  padding-top: 8%;
  padding-bottom: 9%;
  background-color: #f8f8f8;
  @include fulldesctop {
    padding-top: 16%;
    padding-bottom: 11%;

  }
}

.my-works__container {
  @include fulldesctop {
    width: 94%;

  }
}

.my-works__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 6%;
}

.my-works__content {
  display: flex;
  flex-direction: column;
  z-index: 10;
}