.my-works__link {
  display: flex;
  flex-direction: row;
  color: $links-color;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.67;
}
.my-works-icon {
  fill: currentColor;
  width: 15px;
  height: 15px;
  margin-right: 20px;
}