.my-works {
  min-height: 650px;
  padding-top: 11%;
  padding-bottom: 10%;
  background-color: #f8f8f8;
}

.my-works__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 5%;
}

.my-works__content {
  display: flex;
  flex-direction: column;
  z-index: 10;
}