.network {
  min-width: 500px;
  padding-top: 19%;
  padding-bottom: 15%;
  color: white;
}

.network__content {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.network__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  color: currentColor;
  margin-bottom: 8%;
}
