.star {
  height: 100vh;
  min-width: 650px;
}

.star__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star__header {
  display: flex;
  justify-content: space-between;
}

.star__menu {
  margin: 0 90px;
}

.star__content {
  display: flex;
  justify-content: center;
}

.star__buttons {
  display: flex;
  justify-content: center;
}