.star {
  height: 100vh;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star__header {
  display: flex;
  justify-content: space-between;
}

.star__menu {
  margin: 0 90px;
}