.tringles {
  display: flex;
  color: white;
  position: absolute;
  top: -131px;
  z-index: 10;
  width: 100%;;
  @include desctop {
    top: -70px;
  }
  @include tablets {
    top: -26px;
  }
}

.tringles__item {
  
  display: block;
  height: 132px;
  fill: currentColor;
  @include desctop {
    height: 70px;
  }
  @include tablets {
    height: 26px;
  }
  &--left {
    width: 80%;
  }
  &--right {
    width: 20%;
  }
}