.tringles {
  display: flex;
  color: white;
  position: absolute;
  top: -95px;
  z-index: 10;
  width: 100%;;
}

.tringles__item {
  
  display: block;
  height: 95px;
  fill: currentColor;
 
  &--left {
    width: 82%;
  }
  &--right {
    width: 18%;
  }
}