.user {
  display: flex;
  flex-direction: row;
}
.user__photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8%;
}

.user__photo-avatar {
  max-width: 100%;
  max-height: none;
}

.user__info-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.67;
}

.user__info-pos {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.88;
  opacity: .3;
}
