.welcome-section {
  width: 100%;
  /* height: 100%; */
  /* // width: 1800px; */
  height: 100%;
  background-image: url('~images/bg/welcome.png');
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
  padding-bottom: 14%;
  @include fulldesctop {
    padding-bottom: 22%;
  }
  @include desctop {
    padding-bottom: 18%;
  }
  @include tablets {
    padding-bottom: 39%;
  }
}