footer.footer
  .container.footer__container
    .footer__content
      .footer__autor
        .copyright
          .copyright__year © 2019
          .copyright__autor
            .copyright__autor-name Мила Божевская
            .copyright__autor-info Личный сайт веб разработчика
      .footer__info
        .footer__menu
          +nav(menu, "header")
        .footer__column
          .footer___column-left
            .footer__info-about Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
            .footer__info-socials
              +socials(social, "footer")
          .footer__column-right
            .footer__info-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            .footer__info-autor Martin Goldwig