section.first
  .first__container
    .first__bg
    .first__content
      .first__header
        .first__logo
          .logo BA
        .first__close
          +icon("remove", "icon-close")
      .first__menu
        .first__menu
          +nav(menu, "first")
      .first__social
        +socials(social,"first")
    
//- <div class="first">
//-   <div class="first__container">
//-     <div class="first__header">
//-       <div class="first__logo">
//-         <svg class="logo-icon">
//-           <use xlink:href="img/icons/sprite.svg#logo"></use>
//-         </svg>
//-       </div>
//-       <div class="first__close">
//-         <a href="#" class="first__close-ref">
//-           <svg class="icon-close">
//-             <use xlink:href="img/icons/sprite.svg#close"></use>
//-             </svg>
//-         </a>
//-       </div>
//-     </div>