section.my-works
  .container.my-works__container
    .my-works__title Мои работы
    .my-works__content
      #slider-component
      

script(type="text/x=template")#slider-container
  .slider
    //- pre {{works}}
    //- pre {{currentWork}}
    display(
      :works="works",
      :currentWork="currentWork",
      :currentIndex="currentIndex",
      @slide="handleSlide"
    )
    description(
      :currentWork="currentWork"
    )

script(type="text/x=template")#slider-description
  .slider__desc
    //- pre {{currentWork}}
    .slider__desc-tags
      tags(
        :tags="currentWork.techs"
      )
    .slider__desc-text
      h3.slider__desc-title {{currentWork.title}}
      .slider__desc-info {{currentWork.description}}
    .slider__desc-btns
      a(:href="currentWork.link" class="my-works__link")
        +icon("link", "my-works-icon")
        .my-works__link-text Посмотреть сайт


script(type="text/x=template")#slider-display
  .slider__display(:data-slide="currentIndex + 1")
    //- pre {{currentWork}}
    .display
      img(:src="currentWork.photo", alt="" class="display-pic")
      .display__slider-prev
        thumbs(
          :works="reversedWorks"
          :currentWork="currentWork"
        )
        btns(
          @slide="$emit('slide', $event)"
        )
  

script(type="text/x=template")#slider-thumbs
  ul.slider-prev
    li.slider-prev__item(
      v-for="work in works"
      :class="{active: work.id === currentWork.id}"
    )
      button.slider-prev__link
        .slider-prev__mask
        img(:src="work.photo" alt="" class="slider-prev-mini")

script(type="text/x=template")#slider-btns
  .display__buttons
    button.display__btn.display__btn-next(@click.prevent="$emit('slide', 'next')")
      +arrow("next")
    button.display__btn.display__btn-prev(@click.prevent="$emit('slide', 'prev')")
      +arrow("prev")



script(type="text/x=template")#slider-tags
  ul.tags
    li.tags__item(v-for="tag in tagsArray" )
      .tag {{tag}}
