section.reviews(@click="checkArrows" @touchend="checkArrows")
  .container.reviews__container
    .reviews__content
      h2.reviews__title Что обо мне говорят
      flickity(ref="flickity" :options="flickityOptions").reviews__slider
        - for (var i = 0; i<7; i++)
          .reviews__item
            .reviews__quote
              +icon("quote", "reviews__quote-icon")
            .review
              .review__text #{reviews[i][0]}
              .review__user
                .user
                  .user__photo
                    +image(`content/${reviews[i][1]}.png`, "user photo", "user__photo-avatar")
                  .user__info
                    .user__info-name #{reviews[i][2]}
                    .user__info-pos #{reviews[i][3]}
    .reviews__slider-direction
      button.reviews__slider-direc.reviews__slider-direc--prev(@click="previous" :disabled='true')
        +arrow("reviews__slider-btn", "prev")
      button.reviews__slider-direc.reviews__slider-direc--next(@click="next" :disabled='false')
        +arrow("reviews__slider-btn", "next")