section.star
  .container.star__container
    header.star__header
      .star__logo
        .logo BA
      .star__menu
        +nav(menu, "header")
      .star__links
        +socials(social,"header")       
    .star__content
      .site-desc Личный сайт<br>вебразработчика
      .username Мила<br>Божевская
    .star__buttons
      a.scroll-btn
        .scroll-btn__name Скролл
        +icon("scroll", "scroll")