-
  var menu = [
    ["Главная", "#"],
    ["Обо мне", "#"],
    ["Навыки", "#"],
    ["Работы", "#"],
    ["Отзывы", "#"],
    ["Связаться", "#"]
  ];

- 
  var social = [
    ["insta", "#"],
    ["vk", "#"],
    ["github", "#"]
  ];

