-
  var menu = [
    ["Главная", "#"],
    ["Обо мне", "#"],
    ["Навыки", "#"],
    ["Работы", "#"],
    ["Отзывы", "#"],
    ["Связаться", "#"]
  ];
- 
  var social = [
    ["insta", "#"],
    ["vk", "#"],
    ["github", "#"]
  ];
- 
  var skills = [
    ["Frontend", [
      ["HTML5", "-25s"],
      ["CSS3", '-13s'],
      ["Javascript", '-75s'],
      ["Jquery и Vue.js", '-30s']]
    ],
    ["Workflow", [
      ["GIT", '-13s'],
      ["Terminal", '-25s'],
      ["Gulp", '-50s'],
      ["Webpack", '-40s']]
    ]
  ];
- 
  var mini= [
  "my-works-mini1", "my-works-mini2",
  "my-works-mini3", "my-works-mini4"
  ];
-
  var tags= [
    "HTML", "CSS", "JavaScript"
  ];

-
  var reviews= [
    ["Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "koval",
      "Ковальчук Дмитрий",
      "Основатель Loftschool"
    ],
    [
      "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
      "sabanc",
      "Владимир Сабанцев",
      "Преподаватель"
    ]
  ];
