include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.star
          .container.star__container
            header.star__header
              .star__logo
                .logo BA
              .star__menu
                - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                nav.menu
                  ul.menu__items
                    each item in menu
                      li.menu__item
                        a.menu__link #{item}
              .star__links
                - var icons = ["insta", "vk", "github"];
                ul.socials
                  each item in icons
                    li.socials__item
                      a.socials__link
                        +icon(item, "socials__icon")        
            .star__content
              .username Мила <br> Божевская
            .star__buttons
              a.scroll-btn Скролл
        section.about
          .container
            .about__container
              .about__left
                .user
                  .user__avatar
                    .avatar
                      +image("content/user.jpg", "user photo", "avatar__pic")
                  .user__data
                    -
                      var rows = [
                        ["Проживаю", "Херсон"],
                        ["Возраст", "25 лет"],
                        ["Родилась", "11 августа"]
                      ];
                    table.user__text
                      table.user__text-table
                        each row in rows
                          tr.user__text-row
                            each cell in row
                              td.user__text-td #{cell}
              .about__right
                .about__textwelcome Привет, меня зовут
                .about__nameuser Мила Божевская
                .about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__postscr Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .values
        .tringles
          svg.tringles__item.tringles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.tringles__item.tringles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="1000,0 1000,100 0,100")

      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg