include ./mixins.pug
include components/arrow-prev-next


-
  var menu = [
    ["Главная", "#"],
    ["Обо мне", "#"],
    ["Навыки", "#"],
    ["Работы", "#"],
    ["Отзывы", "#"],
    ["Связаться", "#"]
  ];

- 
  var social = [
    ["insta", "#"],
    ["vk", "#"],
    ["github", "#"]
  ];

- 
  var mini= [
    ["my-works-mini1",""], ["my-works-mini2", "--active"],
    ["my-works-mini3",""], ["my-works-mini4",""]
  ];

-
  var tags= [
    "HTML", "CSS", "JavaScript"
  ];

-
  var reviews= [
    ["Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "koval",
      "Ковальчук Дмитрий",
      "Основатель Loftschool"
    ],
     [
      "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
      "sabanc",
      "Владимир Сабанцев",
      "Преподаватель"
    ],
    ["Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "koval",
      "Ковальчук Дмитрий",
      "Основатель Loftschool"
    ],
    [
      "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
      "sabanc",
      "Владимир Сабанцев",
      "Преподаватель"
    ],
    ["Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "koval",
      "Ковальчук Дмитрий",
      "Основатель Loftschool"
    ],
    [
      "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
      "sabanc",
      "Владимир Сабанцев",
      "Преподаватель"
    ],
    ["Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "koval",
      "Ковальчук Дмитрий",
      "Основатель Loftschool"
    ],
    [
      "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
      "sabanc",
      "Владимир Сабанцев",
      "Преподаватель"
    ]
  ];


<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        .welcome-bg
          .welcome-bg__item.welcome-bg__item--1
          .welcome-bg__item.welcome-bg__item--2
          .welcome-bg__item.welcome-bg__item--3
          .welcome-bg__item.welcome-bg__item--4
          .welcome-bg__item.welcome-bg__item--5
          .welcome-bg__item.welcome-bg__item--6
          .welcome-bg__item.welcome-bg__item--7
          .welcome-bg__item.welcome-bg__item--8
          .welcome-bg__item.welcome-bg__item--9
        include components/star
        include components/about
      include components/values
      include components/my-works
      .end-section
        .end-bg
          .end-bg__item.end-bg__item--1
          .end-bg__item.end-bg__item--2
          .end-bg__item.end-bg__item--3
          .end-bg__item.end-bg__item--4
          .end-bg__item.end-bg__item--5
        include components/reviews
        section.network
          .container.network__container
            .network__content
              .network__title Связаться со мной
              .network__form-message
                include components/form
      include components/footer
      include components/hamburger-menu
include admin/app.vue